{
  "presets": [ "es2015", "stage-0" ],
  "plugins": ["babel-plugin-transform-object-rest-spread", "transform-regenerator", "transform-runtime"],
  "env": {
    "production": {
      "presets": ["es2015"]
    }
  },
  "sourceMaps": "inline"
}
